:root{
    --border_radius_standard: 15px;
    --white: #FFFFFF;
    --dark_blue: #363636;
    --light_yellow: #c0d6f6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--light_yellow);
}

.app_container{
    background-color: var(--white);
    width: 100%;
    max-width: 650px;
    min-height: 100vh;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_and_text_cont{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_and_text_cont img{
    height: 100px;
    margin: 30px 0 10px 0;
}

.logo_and_text_cont h1{
    font-size: 70px;
    margin: 0;
}

.logo_and_text_cont p{
    font-size: 20px;
    text-align: center;
    margin: 10px 15px 25px 15px;
}

.help_footer{
    width: 100%;
    padding: 0 0 30px 0;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.help_footer p{
    margin: 0 0 5px 0;
}

.help_footer a{
    color: #000;
}


.name_input_box{
    background-color: var(--light_yellow);
    width: 80%;
    margin: 30px 10% 50px 10%;
    border-radius: var(--border_radius_standard);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name_input_box p{
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

.name_input_box input{
    border: none;
    border-radius: var(--border_radius_standard);
    text-align: center;
    font-size: 25px;
    width: 80%;
    height: 55px;
    font-weight: 600;
    padding: 0;
}

.name_input_box input::placeholder{
    color: var(--light_yellow);
}

.title_cont{
    width: 100%;
    padding: 20px 0 20px 0;
    text-align: center;
}

.title_cont h1{
    font-size: 70px;
    margin: 0;
}

.continue_button{
    border: none;
    border-radius: var(--border_radius_standard);
    text-align: center;
    margin: 25px 0 25px 0;
    font-size: 25px;
    width: 80%;
    height: 55px;
    font-weight: 600;
    background-color: var(--dark_blue);
    color: var(--white);
    padding: 0;
}


.home_footer{
    border: none;
    background: none;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    color: #000;
}

.work_data_input_box{
    background-color: var(--light_yellow);
    width: 80%;
    margin: 30px 10% 50px 10%;
    border-radius: var(--border_radius_standard);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address_label{
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin: 20px 0 10px 0;
}

.address_input{
    border: none;
    border-radius: var(--border_radius_standard);
    text-align: center;
    font-size: 25px;
    max-width: 80%;
    height: 45px;
    font-weight: 600;
}

.address_input::placeholder{
    color: var(--light_yellow);
}

.work_data_label{
    font-size: 20px;
    margin: 30px 20px 30px 20px;
    text-align: center;
    color: var(--dark_blue);
}

.add_new{
    text-align: center;
    margin: 25px 0 0 0;
    font-size: 25px;
    width: 80%;
    height: 30px;
    font-weight: 600;
    color: #000;
    padding: 0;
    background: none;
    border: none;
    text-decoration: underline;
}

.work_data_mini_form{
    width: 80%;
    margin: 0 10% 10px 10%;
    border-bottom: solid 2px var(--white);
}
.work_data_mini_form input{
    border: none;
    border-radius: var(--border_radius_standard);
    text-align: center;
    font-size: 25px;
    height: 45px;
    font-weight: 600;
    padding: 0;
}

.work_data_mini_form input::placeholder{
    color: var(--light_yellow);
}
.work_name_input{
    width: 100%;
    margin: 0 0 10px 0;
}

.work_units_input{
    width: 48%;
    float: left;
}

.work_price_input{
    width: 48%;
    float: right;
}

.optional_label{
    width: 48%;
    float: right;
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0 20px 0;
    color: var(--dark_blue);
    text-align: center;
}

.work_data_checking_list_box{
    background-color: var(--light_yellow);
    width: 80%;
    margin: 30px 10% 50px 10%;
    border-radius: var(--border_radius_standard);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_data_mini_lists{
    width: 100%;
    margin: 0;
    background-color: var(--dark_blue);
    text-align: center;
    color: var(--white);
}

.work_data_mini_lists h3{
    font-size: 28px;
    margin: 20px 0 0 0;
    font-weight: 400;
}

.work_data_mini_list{
    margin: 25px 0 25px 0;
}

.work_data_mini_list h4{
    font-size: 25px;
    margin: 0;
    font-weight: 400;
}

.work_data_mini_list p{
    font-size: 20px;
    margin: 0;
    font-weight: 400;
}

.go_back_and_correct{
    text-align: center;
    margin: 0 0 25px 0;
    font-size: 25px;
    width: 80%;
    height: 30px;
    font-weight: 600;
    color: #000;
    padding: 0;
    background: none;
    border: none;
    text-decoration: underline;
}

.is_all_ok_label{
    font-size: 20px;
    margin: 30px 20px 0 20px;
    text-align: center;
    color: var(--dark_blue);
}

.whatsapp_button{
    border: none;
    border-radius: var(--border_radius_standard);
    text-align: center;
    margin: 25px 0 25px 0;
    font-size: 25px;
    width: 80%;
    height: fit-content;
    font-weight: 600;
    background-color: var(--dark_blue);
    color: var(--white);
    padding: 0;
    padding: 15px 0 15px 0;
}